html{
    font-family: 'Roboto', sans-serif;
    background-color: cadetblue;
}
h1{
    font-size: 40px;
    color: darkred;
}
h2{
    font-size: 25px;
    color: darkgreen;
}
a{
    color: blueviolet;
    font-size: 20px;
}
